/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap/dist/css/bootstrap-theme.min
 *= require jqcloud2/dist/jqcloud.min
 *= require bootstrap-star-rating/css/star-rating.min
 *= require jquery.pagedown-bootstrap
 *= require angular-carousel/dist/angular-carousel.min
 *= require_tree .
 *= require_self
 */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

::-ms-tooltip {
    display: none;
}

ul.rn-carousel {
  width: 300px;
  height: 350px;
  margin: 0 auto;
}